<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-widht, initial-scale=1.0">
    <link href="/assets/login.css" rel="stylesheet" type="text/css" />
    <title>Erro</title>
</head>

<style>
    /*Configurções padrão*/

    @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: Alegreya Sans;
    }

    header {
        margin: 0 auto;
    }

    body {
        background-image: url(imagens/Fundo.png);
        width: 100%;
        height: 919px;
    }

    main {
        margin: 0 auto;
        width: 1200px;
        position: relative;
    }

    .casa {
        padding: 10px;
    }

    .logo {
        text-align: center;
    }

    h1{
        font-size: 50px;
        text-align: center;
    }

    h2{
        font-size: 30px;
        text-align: center;
        color: grey;
    }

    .botlogin {
        width: 250px;
        height: 50px;
        margin-top: 30px;
        border: none;
        border-radius: 30px;
        background-color: #78FFAE;
        font-size: 20px;
        font-weight: bold;
        margin-left: 480px;
    }

    .botlogin:hover {
        width: 250px;
        height: 50px;
        margin-top: 30px;
        border: none;
        border-radius: 30px;
        background-color: #6fe79f;
        font-size: 20px;
        font-weight: bold;
        margin-left: 480px;
    }

    .restrito{
        height: 110px;
    }

</style>

<body>
    <header>
        <div class="casa">
        </div><br><br>
    </header><br><br><br><br><br>

    <main>
        <div class="logo">
            <img src="imagens/Logo.png">
        </div><br><br><br>

        <div>
            <h1>Agendada!</h1>
        </div><br><br>
        <div>
            <h2>Sua consulta foi agendada com sucesso</h1>
        </div><br><br>

        <div>
            <img src="imagens/Certo.png" style="margin-left: 545px;" class="restrito">
        </div>

        <div>
            
            <a href="http://10.144.166.92:3000/index1"><button class="botlogin">Tela inicial</button></a>
        </div>

        
    </main>

</body>

</html>