<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-widht, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="Início.css">
        <title>CCWA Medicine</title>
    </head>

    <style>
        /* Configurações padrão*/
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

        *{
        font-family: Alegreya Sans;
        }
        html{
        width: 100%;
        }

        body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        }

        main{
        margin: 0 auto;
        width: 980px;
        position: relative;
        }

        ul{
        padding: 0px!important;
        margin: 0;
        box-sizing: border-box;
        }

        /* Fim Configurações padrão*/

        /*Cabeçalho*/

        .menuum{
        background-color: #8fffbc;
        background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#E2FFEE));
        width: 100%;
        height: 175px;
        }

        .logo{
        float: left;
        padding: 10px;
        width: 70%px;
        }

        .login ul li{
        display: inline-block;
        float: left;
        list-style: none;
        margin-left: 900px;
        margin-top: -122px;
        }

        .login{
        padding: 15px 10px;
        float: right;
        margin-left: 900px;
        margin-top: -110px;

        }

        .linha{
        float: right;
        margin-right: 75px;
        margin-top: 12px;

        }
        .linha ul li{
        display: inline-block;
        font-size: 16px;
        }

        .linha ul li a{
        color: #000000;
        text-decoration: none;
        }

        .cadastro:hover{
        color: #00aeff;
        }

        .entre:hover{
        color: #00aeff;
        }

        .menudois{
        background-color: #E2FFEE; background: -webkit-gradient(linear, left top, left bottom, from(#E2FFEE), to(#ffffff));
        margin: 0 auto;
        width: 100%;
        height: 100px;
        }

        .itens ul li{
        display: inline-block;
        color: #8f8f8f;
        font-size: 20px;
        }

        .itens ul li a{
        text-decoration: none;
        color: #8f8f8f;
        padding: 15px;
        }

        .itens ul li a:hover{
        color: #00aeff;
        height: 42px;
        border-bottom: 2px solid #00aeff;
        }

        .itens{
        width: 75%;
        float: left;
        margin-top: 30px;
        }

        .busca{
        width: 25%;
        float: right;
        }

        .buscaram{
        background-repeat: no-repeat;
        background-position: 99%;
        width: 440px;
        height: 10px;
        margin-top: 21px;
        margin-left: -210px;
        padding: 12px;
        border: 1px solid #8f8f8f;
        background-color: #e7e7e7;
        border-radius: 20px
        }

        .lupa{
            position: absolute;
            margin-left: 60px;
        }

        .h10 {
            position: absolute;
            margin-top: -5px;
        }

        .help{
        border-bottom: 8px solid #D7D4D4; 
        }

        .endereco {
        background-color: #FFFFFF;
        height: 25px; 
        }

        .informacoes {
        float: left;
        font-size: 13px;
        padding: 15px;
        margin-top: -5px;
        }

        .tell {
        margin-top: 8px;
        margin-left: -6px;
        position: absolute;
        
        }

        .loc{
        margin-top: 6px;
        margin-left: -6px;
        position: absolute;
        
        }

        /*Fim do Cabeçalho*/

        /* Carrossel de imagens */

        .slider{
        margin: 0 auto;
        width: 980px;
        height: 350px;
        overflow: hidden;
        }

        .slides{
        width: 400%;
        height: 350px;
        display: flex;
        }

        .slides input{
        display: none;
        }

        .slide{
        width: 25%;
        position: relative;
        transition: 1s;
        }

        .slide img{
        width: 980px;
        }

        .manual-navigation{
        position: absolute;
        width: 980px;
        margin-top: -22px;
        display: flex;
        justify-content: center;
        }

        .manual-btn{
        border: 2px solid #000000;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.5s;
        }

        .manual-btn:not(:last-child){
        margin-right: 5px;
        }

        .manual-btn:hover{
        background-color: #242323;
        }

        #radio1:checked ~ .first{
        margin-left: 0;
        }

        #radio2:checked ~ .first{
        margin-left: -25%;
        }

        #radio3:checked ~ .first{
        margin-left: -50%;
        }

        #radio4:checked ~ .first{
        margin-left: -75%;
        }

        .navigation-auto div{
        border: 2px solid #00aeff;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
        }

        .navigation-auto{
        position: absolute;
        width: 980px;
        margin-top: 328px;
        display: flex;
        justify-content: center;
        }

        .navigation-auto div:not(:last-child){
        margin-right: 5px;
        }


        #radio1:checked ~ .navigation-auto .auto-btn1{
        background-color: #242323;
        }


        #radio2:checked ~ .navigation-auto .auto-btn2{
        background-color: #242323;
        }


        #radio3:checked ~ .navigation-auto .auto-btn3{
        background-color: #242323;
        }


        #radio4:checked ~ .navigation-auto .auto-btn4{
        background-color: #242323;
        }

        /* Fim do Carrossel de imagens*/

        /*Pergunta*/

        .oque{
        margin-top: 75PX;
        text-align: center;
        font-family: Gruppo;
        color: #a8a8a8;
        font-size: 35px;
        }

        /*Fim da Pergunta*/

        /*Botões*/

        .botao{
        margin-top: 20px;
        }

        .planos{
        margin: 0 auto;
        position: absolute;
        width: 257px;
        height: 370px;
        border: 0.5px solid #9cdfb7;
        border-radius: 10px;
        background-color:  #C4FBDA;
        text-align: center;
        font-size: 23px;
        }

        .planos:hover{
        background-color:  #BDEED1;
        }

        .agendar{
        margin: 0 auto;
        position: absolute;
        width: 257px;
        height: 370px;
        margin-left: 239px;
        border: 0.5px solid #9cdfb7;
        border-radius: 10px;
        background-color: #AAFFCC;
        text-align: center;
        font-size: 23px;
        }

        .agendar:hover{
        background-color: #9EEEBE;
        }

        .doacoes{
        margin: 0 auto;
        position: absolute;
        width: 257px;
        height: 370px;
        margin-left: 481px;
        border: 0.5px solid #9cdfb7;
        border-radius: 10px;
        background-color: #88FFB8;
        text-align: center;
        font-size: 23px;
        }

        .doacoes:hover{
        background-color: #80ECAB;
        }

        .verificar{
        margin: 0 auto;
        position: absolute;
        width: 257px;
        height: 370px;
        margin-left: 723px;
        border: 0.5px solid #9cdfb7;
        border-radius: 10px;
        background-color: #67FFA4;
        text-align: center;
        font-size: 23px;
        }

        .verificar:hover{
        background-color: #5FEA97;;
        }

        /*Fim dos Botões*/

        /*Ródapé*/

        footer {
        margin-top: 500;
        width: 1899px;
        height: 185px;
        color:  #000000;
        background-color: #eaeaea;
        border: 2px solid #BDBDBD;
        }
        .img{
        height: 30px;
        float: right;
        padding: 10px;
        }

        .copyright{
        margin-top: 50px;
        background-color: #BDBDBD;
        width: 1899px;
        height: 50px;
        text-align: center;
        }

        .logodois{
        padding: 10px;
        height: 65px;
        }

        .rodape{
        width: 50%;
        }

        .social{
        float: right;
        width: 50%;
        margin-top: -80px ;
        }

        #subTela1{
        border: solid 1px #000000;
        background-color: #e6e6e6;
	    width: 100px;
        height: 100px;
	    position: absolute;
	    text-align: center;
        transform: translate(-50%, -50%);
        margin-left: 88%;
        margin-top: 70px;
	    font-size: 13px;
        }

        #sair {
        font-size: 19px;
        text-decoration: none;
        font-weight: bold;
        color: #000000;
        }

        /*Ródapé*/
    </style>

    <body>

        <!--Cabeçalho-->
        
        <header class="menuum">
            <main>
                <div class="cabecalho">
                    <div class="logo">
                        <img src="Logo.png">
                    </div>
                    
                    <div class="linha">
                        <p>Bem vindo Usuário!</p>
                    </div>

                    <div id="subTela1" style="display: none;"><br>


                        <a href="http://10.144.166.92:3000" id="sair">Logout</a><br>

                        <h2 id="close">Voltar</h2>
                    </div>

                    <div class="login">
                        <div class="casa">
                            <a id="Relat1">
                                <img src="Login.png">
                            </a>
                        </div>
                
                
                        <script>
                            //Evento para abrir a SubTela
                            document.getElementById("Relat1").addEventListener("click", function () {
                                abrirSubTela1();
                            });
                    
                            //Evento para fechar a SubTela
                            document.getElementById("close").addEventListener("click", function () {
                                fecharSubTela1();
                            });
                    
                            function abrirSubTela1() {
                                document.getElementById("subTela1").style.display = "block";
                            }
                    
                            function fecharSubTela1() {
                                document.getElementById("subTela1").style.display = "none";
                            }
                        </script>
                
                    </div>
                    </div>
                </div>
            </main>
        </header>

        <header class="menudois">
            <main>
                <div class="menu">
                    <div class="itens">
                        <ul>
                            <li>
                                <a href="http://10.144.166.92:3000/sobrenoslogado">Sobre nós</a>
                            </li>
      
                            <li>
                                <a href="http://10.144.166.92:3000/produtos">Produtos</a>
                            </li>
      
                        </ul>
                    </div>
                    <div class="busca">
                        <div class="buscaram">
                            <h10 class="h10">Ops... Barra de pesquisa não está funcionando no momento</h1>
                            <img src="Lupa.png" class="lupa">
                        </div>
                    </div>
                </div>                
            </main>
        </header>

        <header class="help">
            <main>
                <div class="endereco">
                    <p class="informacoes">
                        Fale conosco:
                    </p>
        
                    <img src="Telefone.png" class="tell">
        
                    <p class="informacoes">
                        (19) 99999-9999 ou (19) 3466-9999
                    </p>
        
                    <img src="Localização.png" class="loc">
        
                    <p class="informacoes">
                        Rua: Ana Clara Fernades de Oliveira, Bairro das Anas, 30
                    </p>
                </div>
            </main>
        </header>

        <!--Fim do Cabeçalho-->

        <!--Carrossel-->
    
        <div class="slider"> 

            <div class="slides">

                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">
                <input type="radio" name="radio-btn" id="radio4">

                <div class="slide first">
                    <img src="Welcome.png" alt="Imagem 1">
                </div>
                <div class="slide">
                    <img src="Cidade.png" alt="Imagem 2">
                </div>
                <div class="slide">
                    <img src="Medicos.png" alt="Imagem 3">
                </div>
                <div class="slide">
                    <img src="Medicamentos.png" alt="Imagem 4">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                    <div class="auto-btn4"></div>
                </div>

            </div>

            <div class="manual-navigation">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
                <label for="radio4" class="manual-btn"></label>
            </div>

        </div>

        <script>
            //Carrossel//

            let count = 1;
            document.getElementById("radio1").checked = true;

            setInterval( function(){
                nextImage();
            }, 5000)

            function nextImage(){
                count++;
                if(count>4){
                    count = 1;
                }

                document.getElementById("radio"+count).checked = true;
            } 
        </script>

        <!--Fim do Carrossel-->

        <!--Botões-->

        <main>
            <div class="oque">
                <p>O que você deseja?</p>
            </div>

            <div class="botao">
                <a href="http://10.144.166.92:3000/planos">
                    <button class="planos" ><img src="Planos.png"><br>Planos de saúde</button>
                </a>
                <a href="http://10.144.166.92:3000/consultas">
                    <button class="agendar"><img src="Consultas.png"><br>Agendar consultas</button>
                </a>
                <a href="http://10.144.166.92:3000/doacoes">
                    <button class="doacoes"><img src="Carteira.png"><br>Doações</button>
                </a>
                <a href="http://10.144.166.92:3000/testes">
                    <button class="verificar"><img src="Testes.png"><br>Verificar testes</button>
                </a>
            </div>
        </main>

        <!--Fim dos Botões-->

        <!--Ródapé-->

        <footer>
            <main>
                <div id="footer_content">
                    <div class=rodape>
                        <img src="Logo.png" class="logodois">
                    </div>

                    <div class="social">
                        <a href="http://10.144.166.92:3000/sociaislogado" class="footer-link" id="instagram">
                            <img src="Instagram.png" class="img">
                        </a>
                        <a href="http://10.144.166.92:3000/sociaislogado" class="footer-link" id="facebook">
                            <img src="Facebook.png" class="img">
                        </a>
                        <a href="http://10.144.166.92:3000/sociaislogado" class="footer-link" id="twitter">
                            <img src="Twitter.png" class="img">
                        </a>
                    </div>
                </div>

            </main>
            <div class="copyright">
                <p>
                    CCWA Medicine © 2023-2023/ CNPJ: 99.999.999/9999-99/ Inscrição Estadual: 99.999.99-9,<br>
                    / Endereço Rua: Ana Clara Fernades de Oliveira, Bairro das Anas, 30 - 99999-999/ Fale com CCWA</p>
            </div>
        </footer>

        <!--Fim do Ródapé-->
 
    </body>
</html>