<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="ConsultaMédico.css" rel="stylesheet" type="text/css" />
        <title>Agendamentos</title>
    </head>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

        * {
            font-family: Alegreya Sans;
            margin: 0 auto;
        }

        html {
            height: 100%;
            width: 100%;
        }

        .barra-esquerda {
            background-color: #8fffbc;
            background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#ffffff));
            border-right: solid 1px #000000;
            height: 100%;
            width: 5%;
            position: absolute;
            top: 0px;
            left: 0px;

        }

        #casa {
            position: absolute;
            margin-left: 25px;
            margin-top: 25px;
        }

        #logout {
            position: absolute;
            margin-left: 25px;
            margin-top: 75px;
        }





        .cabecalho {
            background-color: #8fffbc;
            background: -webkit-gradient(linear, left top, left bottom, from(#8BFFBC), to(#ffffff));
            border-bottom: solid 1px #000000;
            width: 1823px;
            height: 10%;
            position: absolute;
            right: -1%;
            top: 0px;
        }

        #logo {
            width: 210px;
            height: 70px;
            padding: 10px;
        }


        #Agendar {
            background-color: #74C895;
            background: -webkit-gradient(linear, left top, left bottom, from(#74C895), to(#ffffff));
            width: 200px;
            height: 50%;
            position: absolute;
            padding: 20px;
            left: 360px;
            text-decoration: none;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            color: black;
            margin: 0 auto;
        }

        .escolha-data {
            border-bottom: solid 1px #000000;
            margin-top: 105px;
            margin-left: 90px;
            padding: 30px 144px;

        }

        .corpo-agenda {
            margin-left: 90px;
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .tabelinha {
            width: 80%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        
        .tabelinha th, .tabelinha td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: justify;
        }
        
        /* Adicione essas regras ao seu arquivo CSS existente */
        .tabelinha {
            font-weight: bold;
            font-size: 20px;
            width: 80%;
            margin: 20px auto;
            border-collapse: separate; /* Adiciona espaçamento entre células e linhas */
            border-spacing: 10px; /* Define o espaçamento desejado */
            margin-right: 210px;
        }

        .tabelinha th {
            font-weight: bolder;
            font-size: 20px;
            background-color: #72cf97;
            color: rgb(0, 0, 0);
            
        }
    </style>

    <body>
        <div class="barra-esquerda">
            <a href="http://10.144.166.92:3000/index2" id="casa">
                <img src="Casinha.png">
            </a><br>

            <a href="http://10.144.166.92:3000" id="logout">
                <img src="Logout.png">
            </a>
        </div>

        <div class="cabecalho">
            <img src="Logo.png" id="logo">
            <a id="Agendar"> Agenda </a>

        </div>

        <div class="escolha-data">
            <h1 id="escolher-dia">Consultas agendadas com os Doutores</h1>
        </div><br><br>

        <div class="card-body">
            <table class="tabelinha" id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Médico</th>
                    </tr>
                </thead>

                <tbody>
                    <ul>
                        <% consultas.forEach(consultas => { %>
                            <tr>
                                <td><%= consultas.nome_paciente %></td>
                                <td><%= consultas.data_consulta %></td>
                                <td><%= consultas.hora_consulta %></td>
                                <td><%= consultas.especialista %> </td>
                            </tr>
                        <% }); %>
                    </ul>
                </tbody>

            </table>
            
            <div class="e515_60"></div>
            <div class="e515_62"></div>
            <div class="e515_70"></div>
            <div class="e515_77"></div>
            <div class="e515_79"></div>
            <div class="e515_87"></div>
        </div>
    </body>
</html>