<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="Nós.css">
		<title>Sobre Nós CCWA</title>
	</head>

	<style>
		/*Configurções padrão*/

		@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&display=swap');

		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
			font-family: Alegreya Sans;
		}

		header{
			margin: 0 auto;
			width: 1000px;
			height: 175px;
		}

		body{
			background: #8fffbc;
			background: linear-gradient(180deg, #8fffbc 0%, #ffffff 60%);
		}
		main{
			margin: 0 auto;
			width: 1000px;
			position: relative;
		}

		footer{
			margin-top: 16px;
			width: 100%;
			height: 185px;
			color:  #000000;
			background-color: #eaeaea;
			border: 2px solid #D9D9D9;
		}

		/*Fim Configurções padrão*/

		/*Cabeçalho*/

		.casinha{
			width: 7%;
			position: absolute;
			padding: 10px 7px;

		}

		.logo{
			width: 10%;
			position: absolute;
			margin-left: 72px;
			padding: 10px 0px;
		}

		.produtos{
			width: 20%;
			position: absolute;
			margin-left: 740px;
			margin-top: 75px;
		}


		.orientaçao{
			padding: 0px 30px 40px;
		}

		/*Fim Cabeçalho*/

		/*Area usável*/

		.row{
			margin-left: 50px;
		}
		.col-1{
			width: 40%;
			position: absolute;
			font-size: 20px;
			
		}

		.col-2{
			width: 50%;
			position: absolute;
			margin-left: 450px;
			border-left: 1px solid #000000;
			padding: 0px 50px;
			text-align: justify;
			font-size: 20px;
		}

		/*Fim Area usável*/

		/*Rodapé*/

		.img{
			height: 55px;
			float: right;
			padding: 10px;
		}

		.copyright{
			margin-top: 65px;
			background-color: #D9D9D9;
			width: 100%;
			height: 50px;
			text-align: center;
		}
		
		.logodois{
			padding: 10px;
			height: 65px;
		}
		
		.rodape{
			width: 50%;
		}
		
		.social{
			float: right;
			width: 50%;
			margin-top: -70px ;
		}

		/*Fim Rodapé*/
	</style>

	<body>
		<header>
			<div>
				<div class="casinha">
					<ul>
						<li style="list-style-type: none;">
							<a href="http://10.144.166.92:3000/index1">
								<img src="Casinha.png">
							</a>
						</li>
					</ul>
				</div>

				<div class="logo">
					<img src="Logo.png">
				</div>
			</div>
		</header>
        <main style="height: 575px;">
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <h1>Quem somos nós?</h1><br>
                        <p>
                            Somos um grupo de 4 alunos: 
                            Ana Julia Ferreira;
                            Caike Henry Firmino Felipe;
                            Caio Felipe Vieira Ferreira;
                            Wellington de Oliveira do Nascimento;
                        </p><br><br><br>

                        <h1>Objetivo!</h1><br>
                        <p>
                            Nosso objetivo é fazer um design de um site
                            médico que ajuda na acessibilidade tanto de
                            médicos quanto de pacientes e administradores 
                            e programá-lo
                        </p>
                    </div>

                    <div class="col-2">
                        <h1>O que é a CCWA?</h1><br>
                        <p>
                            A CCWA Medicine é focada em trazer a excelência e
                            atendimento de qualidade para com os clientes da
                            clínica, temos uma grande demanda de profissionais da
                            saúde de diversas áreas, com diversas clínicas
                            espalhadas pelo estado. Contamos também com planos
                            anuais, incluindo descontos em medicamentos e
                            consultas ilimitadas. Temos o compromisso de oferecer
                            cuidados de saúde excepcionais e abrangentes para você
                            e sua família. Com uma equipe de profissionais
                            altamente qualificados e experientes, estamos
                            dedicados a fornecer serviços médicos de alta qualidade
                            e atendimento personalizado. Os médicos abrangem
                            uma ampla gama de áreas, incluindo ortopedia,
                            pediatria, ginecologia, cardiologia, ortopedia,
                            dermatologia e muito mais. Independentemente das
                            suas necessidades médicas, estamos prontos para ajudar.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
			<main>
				<div id="footer_content">
					<div class=rodape>
						<img src="Logo.png" class="logodois">
					</div>

					<div class="social">
						<a href="http://10.144.166.92:3000/sociaislogado" class="footer-link" id="instagram">
							<img src="Instagram.png" class="img">
						</a>
						<a href="http://10.144.166.92:3000/sociaislogado" class="footer-link" id="facebook">
							<img src="Facebook.png" class="img">
						</a>
						<a href="http://10.144.166.92:3000/sociaislogado" class="footer-link" id="twitter">
							<img src="Twitter.png" class="img">
						</a>
					</div>
				</div>
			</main>

			<div class="copyright">
				<p>
					CCWA Medicine © 2023-2023/ CNPJ: 99.999.999/9999-99/ Inscrição Estadual: 99.999.99-9,<br>
					/ Endereço Rua: Ana Clara Fernades de Oliveira, Bairro das Anas, 30 - 99999-999/ Fale com CCWA</p>
			</div>
		</footer>
	</body>
</html>